#lets say someone has given me requirment that you have to create a function where function will be able to take multiple inputs but u  dont know how many inputs you are going to pass.

In [3]:
def test(a,b,c,d,e):
    return a,b,c,d,e

In [4]:
test(2,3,4,5,6)

(2, 3, 4, 5, 6)

In [5]:
def test1(*args): # " *" is a notation by which it is trying to consider any no of variable i  would  like to pass at any point of time
    return args   # '"*" means you can take multple inputs'

In [6]:
test1(45,2,4)

(45, 2, 4)

In [7]:
test1(4,5,6,7,"sudh",34.7,"soni")

(4, 5, 6, 7, 'sudh', 34.7, 'soni')

In [9]:
test1(76,45,"sudh",[1,2,3,4,5],3+4j)

(76, 45, 'sudh', [1, 2, 3, 4, 5], (3+4j))

In [10]:
def test2(*sudh,a):
    return sudh,a

In [11]:
test2(5,45,42) #It is giving error although it is able to understand argument a it is confused with two values.

TypeError: test2() missing 1 required keyword-only argument: 'a'

In [12]:
test2(5,45,42,a=6546) #Here * has multiple inputs and argument a = 6546 value

((5, 45, 42), 6546)

In [13]:
def test3(*sudh,a,b,c,d):
    return sudh,a,b,c,d

In [14]:
test3(345,353,76,a=[1,2,34,5],b=[4,5,6,7],c="sudh",d=345.66)

((345, 353, 76), [1, 2, 34, 5], [4, 5, 6, 7], 'sudh', 345.66)

In [15]:
def test4(a,*sudh): #What if we pass individual argument "a" first and * after that
    return sudh,a

In [18]:
test4("sudh",34,45,56) #by default argument "a" will take first value whichever is passed first
#here by default it is taking a="sudh"

((34, 45, 56), 'sudh')

In [19]:
test4(a="sudh",34,45,56) #it will give us an error

SyntaxError: positional argument follows keyword argument (<ipython-input-19-720d675412b8>, line 1)

In [20]:
def test5(a,*sudh,b,c): #It is not able to find value of b and c for that we have to define what is b and what is c
    return a,sudh,b,c

In [21]:
test5("sudh",[2,3,4,5],78,67,45.9,67.5,34)

TypeError: test5() missing 2 required keyword-only arguments: 'b' and 'c'

In [22]:
test5("sudh",[2,3,4,5],78,67,45.9,b=67.5,c=34)

('sudh', ([2, 3, 4, 5], 78, 67, 45.9), 67.5, 34)

 #Lets do a problem statement where we have to create a function where user can passa nything they want,and our function is supposed to return if user has passed a list out of this n number of data only in that case our function is supposed to return oonly a list part not anything else

In [24]:
#* meanns user can inpput data n number of times
# args will  hold buntch of data in form of tuples so can we say that we have to go through each and every value inside the tuple
#So we are using this function to filter out list from number os inputs
#there comes one problem with this function
def test6(*args,):
    for i in args:
        if type(i)==list:
            return i

In [25]:
#this function is working correct in case we have passed one list 
test6(2,3,4,5,6,[6,4,3,2,7,8])

[6, 4, 3, 2, 7, 8]

In [26]:
# will this function work if we have multiple lists as input
#No it is taking the first list that is coming very first in the data
test6(2,3,4,5,6,[6,4,3,2,7,8],[11,23,45,3,4,56],"sudh")

[6, 4, 3, 2, 7, 8]

In [29]:
#Thiis can be one solution in case of multipple lists
def test6(*args):
    l=[]
    for i in args:
        if type(i)==list:
            l.append(i)
    return l

In [30]:
test6(2,3,4,5,6,[6,4,3,2,7,8],[11,23,45,3,4,56],"sudh")

[[6, 4, 3, 2, 7, 8], [11, 23, 45, 3, 4, 56]]

#Lets say we have to create a function that you can pass n number of multiple inputs but with a condition tht user should give input of key value pair only.so that we can pull the key

In [31]:
#Double ** means multple inputs but with key value pair
def test7(**kwargs):
    return kwargs

In [37]:
test7(34,54,56,76,56.5) #It needs value in key value pair format

TypeError: test7() takes 0 positional arguments but 5 were given

In [38]:
test7(a=123,b=5) #by default it is returning us the dictionary

{'a': 123, 'b': 5}

#Lets say someone has given the task to pass or to fill the information you have.So all the personal information you are suppose to fill

In [2]:
def test8(**kwargs):
    return kwargs

In [3]:
test8(name= "soni",age="30",phone_no="756267782",mail_id="soni@gmail.com")

{'name': 'soni',
 'age': '30',
 'phone_no': '756267782',
 'mail_id': 'soni@gmail.com'}

In [5]:
def test9(a,**kwargs):
    return kwargs,a

In [6]:
test9(45,65,3.4,2.66,89,7) #by default it is takingg argument a value as 45 and rest of the arguments are not understood

TypeError: test9() takes 1 positional argument but 6 were given

In [7]:
test9(45,t=65,b=3.4,c=2.66,d=89,e=7)

({'t': 65, 'b': 3.4, 'c': 2.66, 'd': 89, 'e': 7}, 45)

In [8]:
def test9(a,**kwargs,*args): #You will not be able to use "*" and ("*") at tjje same time in afunction
    return kwargs,a,args

SyntaxError: invalid syntax (<ipython-input-8-0c8368ae1b74>, line 1)

In [10]:
def test10(a,*args,**kwargs): #You will be able to use "*" and ("*") only when it is written in sequence
    return a,args,kwargs

In [11]:
test10(45,56,65,687,76,65,45,g="sudh",d="soni") 
#by default argument a=45  rest of the elements are n number of inputs and  kwargs are the dictionary ones

(45, (56, 65, 687, 76, 65, 45), {'g': 'sudh', 'd': 'soni'})

=====================================================================================
#Lets create a function without a name,now we will not give name to the function
#Lets suppose there is a requirement o perform some small small tasks
#It is possible to create one liner  function or anonymous function answer to this is lambda function
=================================================================================
A lambda function is a kind of function which is called anonymous function.Function without a name.So we are not going to create function with its name,yes but it will behave as a function.
For example:
If someone has asked you create one function which will be able to  take two variables and it is suppose to  return
multiplication of two  variables

In [12]:
def test13(a,b):
    return a*b

In [13]:
test13(34,5)

170

In [14]:
#I have to fulfill the same requirement by creatinng an anonymous function using lambda 
#lambda is just a reserved keyword which will take two inpputs 
#in this case after : what kind of operation it has to perform that we are going to write
#This has just created an anonymous function,
lambda a,b : a*b

In [15]:
#but how caan i pass data inn lambda  functiion for desired output
#how can we call this anonymous function for output
#by saving it in a variable and then passing the arguments in it
#After : it is just like the return statement 
a=lambda a,b : a*b

In [16]:
a(34,5)

170

In [21]:
lambda a,b : (a*b, a+b)  #LAmbda function can do multiple operations

In [22]:
x=lambda a,b : (a*b, a+b)

In [23]:
x(34,5)

(170, 39)

In [25]:
a=lambda *args : args

In [26]:
a(2,3,4,5,6)

(2, 3, 4, 5, 6)

In [8]:
x=lambda x:[i for i in x]

In [9]:
x([1,3,4,5,5,6])

[1, 3, 4, 5, 5, 6]

In [10]:
a= lambda  **kwargs: kwargs

In [11]:
a(a=10,b=20,c=30,d=40)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [18]:
#lets suppose we have created one variable a=10 here declared outside the function and m trying to perform some sort of operation here
a=10
def test16(c,d):
    return c*d

In [19]:
test16(a,50) #here weare trying to return (c*d),but when we are calling the function we are passing external value a=10
#It is considering a=10 here and performing multiplication operation
#here c will be holding value of a i.e how  c=10

500

In [33]:
#lets suppose m going to pass a=5 within the function
a=10
def test16(c,d): #At the time of function call it is passing value of a=10  as c  and returning 
    a=5
    return c*d

In [34]:
test16(10,50)

500

In [35]:
#lets suppose m going to pass c=5 within the function
a=10  #Global  value
def test16(c,d):
    c=5 #local value
    return c*d

In [36]:
test16(a,50)
#At the time of function call it is passing value of a=10 as c but inside the function it is reassigning the value of c which was as
# as a=5

250

In [37]:
c=10  # here we have two values of initially it will take value as 10 but inside the function it reassigns the value  as 5
def test16(c,d):
    c=5
    return c*d

In [39]:
test16(10,50)

250

In [40]:
c

10

#### List Comprehensions

Suppose we have a list and  try to go through each element of list and try to get a list by adding 2 in each element

In [41]:
l=[1,2,3,4,56,78,7,88,7]
#Output list =[3,4,5,6,58,80,9,90,9]

In [45]:
l1=[]
for i in l:
    print(i+2)
    l1.append(i+2)
print(l1)

3
4
5
6
58
80
9
90
9
[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [50]:
#Lets do this using function
def test17(a):
    l1=[]
    for i in a:
        l1.append(i+2)
    return l1

In [51]:
test17(l)

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [4]:
l=[1,2,3,4,56,78,7,88,7]

In [5]:
#Lets do the same thing using lambda function
a=lambda a:[i+2 for i in a]

In [6]:
a(l)

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [7]:
#USing list comprehension 
[ i+2 for i in l]

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [10]:
l=[1,2,3,4,56,78,7,88,7]

In [11]:
#Lets suppose m expecting two outcomes like squaress of the element and addition with same element
[(i**2,i+i) for i in l]

[(1, 2),
 (4, 4),
 (9, 6),
 (16, 8),
 (3136, 112),
 (6084, 156),
 (49, 14),
 (7744, 176),
 (49, 14)]

In [12]:
#Lets suppose m expecting two outcomes like squaress of the element and addition with same element only if i<4
[(i**2,i+i) for i in l if i<4]

[(1, 2), (4, 4), (9, 6)]

#Lets suppose we have to perform operation where you are supposed to create a dictionary where key will be a numbr and its value will be square of it.
task is d= {1:1,2:4,3:9}

In [1]:
d= {1:1,2:4,3:9}

In [5]:
#Using dictionary comprehension
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [11]:
#lets do it simply 
d1={}
for i in range(10):
    d1[i]=i**2
    
print(d1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [16]:
#return as a tuple comprehension
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [17]:
a=56          #integer is not an iterable object
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [18]:
s="sudhanshu" #string is an iterable object
for i in s:
    print(i)

s
u
d
h
a
n
s
h
u

In [19]:
next(s)

TypeError: 'str' object is not an iterator

#difference between iterable and iterator
If we say string is an iterable object.Yes,its true it is True because we are able to see the results whereas in case of integer we were not able to gget the results.

If we say str is an iterator that statement is false.No str is not an iterator.

What is the difference  bnetween iterable and iterator?
If an object is holding the values with the help of some sort of indexes and if you are able to access those indexes  one by one with the help of indexes that type of object is called iterable object.

Iterable-an element which we can in sequential manner
but that does mean you will be able to access.
You can access only if you convert iterable element into iterator using iter().

In [22]:
b=iter(s)

In [23]:
next(b)

's'

In [24]:
next(b)

'u'

In [25]:
next(b)

'd'

In [26]:
next(b)

'h'