In [2]:
def test(): 
#It will give an error as we have not written anything inside function to get rid of this error we can write pass keyworf within test()

SyntaxError: unexpected EOF while parsing (<ipython-input-2-3e1b70e49657>, line 2)

In [3]:
def test():
    pass

In [4]:
def test1():
    print("this is my first fun")

In [5]:
test1() #whatever written within this function will be executed

this is my first fun

In [6]:
a=test1()  #lets say we have this is my first fun value of function in the variable a and if i check what variable a stores.

this is my first fun

In [7]:
a

In [8]:
a +"sudh"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [9]:
test1()+"sudh"

this is my first fun

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [10]:
"sudh"+"kumar"

'sudhkumar'

In [11]:
type(test1())#Print function is returning value of Nonetype data not a string so concatenation is not possible

this is my first fun

NoneType

In [12]:
a=test1()

this is my first fun

In [15]:
#lets try to do typecasting
str(a)

'None'

In [16]:
#LEts create a function which will be aable to do concatenation e.g test1()+"sudh"
def test2():
    return "this is my first fun"

In [17]:
test2()

'this is my first fun'

In [18]:
type(test2())

str

In [19]:
test2()+"sudh"     #now we will be able to perform concatenation bcause both are of str datatype
#by default tyoe of return is str

'this is my first funsudh'

In [20]:
#LEts suppose if i  want to return an integer
def test3():
    return 3455

In [21]:
test3()

3455

In [22]:
type(test3())

int

In [23]:
#If you want to return primitive datatype like int,str then you have to use return keywordd with thevalue.

In [24]:
def test4():
    return 4,3,"sudh",[2,3,4,5] #created function which retuning me different objects of different datatype

In [25]:
test4() #it will return a collection called tuple
#In this case by default because of multiple objects it will return a tuple

(4, 3, 'sudh', [2, 3, 4, 5])

In [26]:
type(test4())

tuple

In [30]:
b=test4()

In [31]:
b

(4, 3, 'sudh', [2, 3, 4, 5])

In [32]:
b[1]

3

In [33]:
b[3]

[2, 3, 4, 5]

In [34]:
x,y,z,v=test4() #assigned variables

In [35]:
x

4

In [36]:
y

3

In [37]:
z

'sudh'

In [38]:
v

[2, 3, 4, 5]

In [39]:
def test5():
    a=6*7/6
    return a

In [40]:
test5()

7.0

In [41]:
type(test5())

float

In [ ]:
#Lets suppose i want you to create afunction which will take this data of list l as an argument or, 
#input where it will check and return me an output as a list of integers in that list.

In [3]:
#Lsts suppose we have function where we are going to pass a listor our data as input 
#and we just want to return only integer values from list
l=[3,4,5,6,7,7,"sudh",[1,3,4,54,56]]

In [4]:
def test6(a):
    n=[]
    if type(a)==list:
        for i in a:
            if type(i)==int:
                n.append(i)
    return n

In [5]:
test6(l)

[3, 4, 5, 6, 7, 7]

In [6]:
type(test6(l))

list

In [9]:
test6([2,4,4,4,5,6,"soni","hkjdhf"])  #This function objective was to check integers in the list of data.

[2, 4, 4, 4, 5, 6]

#Lets suppose i want to  create a function where i want to return a key from a dictionary.So it should take input as dictionary
and it should return all the keys that i have written inside the dictionary

In [10]:
def test7(c):
    if type(c)==dict:
        return c.keys()
    else:
        return "you have not passed a dictionary"

In [11]:
test7("fhfdhsjh")

'you have not passed a dictionary'

In [12]:
test7({"a":"sudh","b":12345,"c":[6,4,5,6,7]})

dict_keys(['a', 'b', 'c'])

#Lets suppose i have to create a function where it is going to take a multiple input of lists and then return me a list after expanding it.If either of the two is not a list then in that case it should return me some string as an output

In [22]:
def test9(a,b):
    if type(a)==list and type(b)==list:
        a.extend(b)
        return a
    else:
        return "either of your data is not a list"

In [23]:
test9("jgjhgjhy","vvjhgyhfhs")

'either of your data is not a list'

In [24]:
test9([1,2,5,3,4],"udgusf")

'either of your data is not a list'

In [25]:
test9(1234) #You supose to give two arguments

TypeError: test9() missing 1 required positional argument: 'b'

In [26]:
test9([1,2,3,4,5],[99.78,54,65])

[1, 2, 3, 4, 5, 99.78, 54, 65]

#Lets create a function which will return the 

*
**
***
****
*****

In [29]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [36]:
def test10(a):
    for i in range(1,a):
        print("*"*i)

In [37]:
test10(6)

*
**
***
****
*****

In [46]:
def triangle(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print("*",end="")
        print("\r")

In [47]:
triangle(5)

*
**
***
****
*****

In [55]:
n=5
for i in range(0,n):                   #0,1,2,3,4
    for j in range(0,i):
        print("*",end="")
    print("\r")

*
**
***
****

#Lets create 
    *
   * *
  * * *
 * * * *
* * * * *

In [1]:
def create_triangle(row_num):
    n=row_num
    k=n-1
    
    for i in range(0,n):
        for j in range(0,k):
            print(end=" ")
        k=k-1
        
        for j in range(0,i+1):
            print("*",end="")
        print("\n")

create_triangle(3)

  *

 **

***

In [3]:
create_triangle(3)

  *

 **

***

In [62]:
"""iydhdjh (multi line comment thsi inside function will call it as docstring )
"""
n=5
k=n-1
for i in range(0,n): #i=0,1,2,3,4
    for j in range(0,k): #j=0,1,2,3
        print(end=" ")
    k=k-1
    for  j in range(0,i+1):
        print("*",end="")
    print("\n")

    *

   **

  ***

 ****

*****

Assignment
1.You have to write a function which will take a string and return a len of it without using inbuilt function len()
2.write a function which will be able to print index of all primitive element which you will pass
3. write a function which will take input as a dictionary and give me output as a list of all the values even in case of 2 level nesting it should work
4.write a function which will take another function a an input and return me an output
5.write a function which will take list as an input and give concatenation of all the element as and output.
6.write a function which will be able take a list as input and return index of each element like a inbuilt index function
but even if we have repetative element it should return index

In [2]:
s="sudhanshu"

In [13]:
#Answer-1
def test11(a):
    count=0
    for i in a:
        count=count+1
    return count

In [14]:
test11("ankit")

5

In [19]:
#Answer-2
l=[45,3,4,2,7,87,"sudhanshu"]

def test12(a):
    l1=[]
    for i in range(0,len(a)):
        l1.append(i)
    return l1

In [20]:
test12(l)

[0, 1, 2, 3, 4, 5, 6]

In [37]:
#3. write a function which will take input as a dictionary and give me output as a list of all the values even in case of 2 level nesting it should work
d={"a":12,"b":23,"c":[1,2,3,4]}

def test13(a):
    for i in a:
         return a.values()

In [38]:
test13(d)

dict_values([12, 23, [1, 2, 3, 4]])

In [52]:
#5.write a function which will take list as an input and give concatenation of all the element as and output.
l=[1,2,3,4,5,6,7,8,9]
def test14(a):
    
    sum=0
    for i in l:
        sum=sum+i
    print("sum :",sum)

In [53]:
test14(l)

sum : 45