### Tuple : is again a collection of elements ofmultiple datatypes exactly llike a list.Notation for tuple ( ) .

In [1]:
t =(1,2,3,4,5)

In [2]:
type(t)

tuple

In [3]:
t1=("sudh",345 ,45+78j ,546.56,True)

In [4]:
l=["sudh",345 ,45+78j ,546.56,True]

In [5]:
type(t1)

tuple

In [6]:
type(l)

list

In [7]:
#Lets see how we can access our elements in a list
l[0:2]

['sudh', 345]

In [8]:
#Lets see how we can access our elements in a tuple
t1[0:2]

('sudh', 345)

In [9]:
#Lets see how we can reverse the tuple 
t1[::-1]

(True, 546.56, (45+78j), 345, 'sudh')

In [10]:
 #Lets se e how we can access the last element in a tuple
t1[-1]

True

In [11]:
#Lets see how we can access the elements in a tuple at the jump of 2
t1[0::2]

('sudh', (45+78j), True)

In [12]:
l

['sudh', 345, (45+78j), 546.56, True]

In [13]:
l1=[4,5,6,7]

In [14]:
l[0]="kumar"

In [15]:
l

['kumar', 345, (45+78j), 546.56, True]

In [16]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [17]:
t1[0]

'sudh'

In [18]:
t1[0]="xyz"

TypeError: 'tuple' object does not support item assignment

#### Difference b/w tuple and list :
##### 1.Notation List are represented by [ ] and tuple are represented in ( ).
##### 2.Tuple are immutable just like string ,however lists are mutable.

In [19]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [20]:
t2=(34,56,56,56,5,656)

In [21]:
t1+t2

('sudh', 345, (45+78j), 546.56, True, 34, 56, 56, 56, 5, 656)

In [22]:
l+l1

['kumar', 345, (45+78j), 546.56, True, 4, 5, 6, 7]

In [23]:
t1*2

('sudh', 345, (45+78j), 546.56, True, 'sudh', 345, (45+78j), 546.56, True)

In [24]:
t1.count("sudh")
#will return the count of occurence of element

1

In [25]:
t1.index("sudh")
#will return the index of element

0

##### almost all the operations of tuple are same as list except notations and mutability.
##### Where to use Tuple and when to use list
##### Tuple are user for data security
##### where we have to create some element where someone will not be able to access there we are suppose to post our data inside a tuple. 
##### Letss suppose we all have account of gmail,facebook.If we do not want anyone to access our particular password and change it
##### from a particular location.In that case we can use a tuple.You can post all your passwords in a tuple so that no one can change it.b

In [26]:
t =(45,54,54,5,(4,5,6),"sudh")
#there can be a nested t1=tuple inside a tuple

In [27]:
t

(45, 54, 54, 5, (4, 5, 6), 'sudh')

In [28]:
t1=([3,4,54,6],("sd",435,56),"ushd")
#we can create a list inside a tuple and nested tuple inside the tuple.

In [29]:
t1

([3, 4, 54, 6], ('sd', 435, 56), 'ushd')

In [30]:
#Let check can we make changes fir 54
t1[0]

[3, 4, 54, 6]

In [31]:
t1[0][2]

54

In [32]:
#Lets check can we change 54 with "sudh".Yes in this case we can change because in tuple we have a list we want changes in the list not in the tuple indexes
t1[0][2]="sudh"

In [33]:
t1

([3, 4, 'sudh', 6], ('sd', 435, 56), 'ushd')

In [34]:
#Lets check if we can change t[0]="abcd"
t[0]="abcd"
#it will give error because tuple indexes cannot be modified

TypeError: 'tuple' object does not support item assignment

In [35]:
#Can we convert tuple to list .YEs
t=(1,2,3,4,5,6)

In [36]:
list(t)

[1, 2, 3, 4, 5, 6]

In [37]:
#We can also convert a list to a tuple and tuple to list
l=[1,2,3,4,5]

In [38]:
tuple(l)

(1, 2, 3, 4, 5)

In [39]:
#Lets saywe have a list with duplicates
l = [1,2,3,4,5,6,76,5,5,5,5,5,5,5,5,2,3,4,5,6,1,2,3]

#### Set is a collection which will try to hold unique elements.It will remove all the duplicate elements by itself automatically.Notation of Set is { }
#### SEt  is an unordered collection.If it unordered collection we will not able to do the index operations.So,if we are not able to do index operations it is called as immutable entity

In [40]:
# we can use set function and pass the list to remove the duplicates
set(l)

{1, 2, 3, 4, 5, 6, 76}

In [41]:
#Where you have ann empty set there type of that variable will be dictionary
s ={}

In [42]:
type(s)

dict

In [43]:
#when you have some elements within set type will be set
s1= {2,3,4}

In [44]:
type(s1)

set

In [45]:
s2={1,1,1,1,1,2,3,4,5,6,6,7,8}
#?By default It will automatically remove the duplicates as it is the property of set.

In [46]:
s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [47]:
#Is it possible to access any of the elements of sets using slicing operations
s2[1]
#No as set is unordered collection.Internally it is not going to keep any orders.So,its not possible to access elements with indexs

TypeError: 'set' object is not subscriptable

In [48]:
#If i want to access 1 from Set s2 then i have to first convert it into list to access 1
list(s2)
#Doubt here
##### Doubt in set is that if we convert set into a list an then we want to access the elements it is showing some error.

[1, 2, 3, 4, 5, 6, 7, 8]

In [49]:
type(s2)

set

In [50]:
s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
#Lets see if i want to add some elemnt in the set
s2.add(5678)

In [52]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 5678}

In [53]:
s2.add("sudh")

In [54]:
s2

{1, 2, 3, 4, 5, 5678, 6, 7, 8, 'sudh'}

#### Inside the tuple it was possible to post list and tuple inside the tuple .
#### However,in set it is not possible to post list inside the set.
#### Why ?
#### because set always holds an unordered collection of unique element.it will not allow you to host the elements that are mutable as list is mutable entity
#### Set will allow tuple to host in its collection as tuple is also immutable entity. 
#### It will also remove duplicate tuples if entered in the set

In [55]:
s2.add([9,11,12,13])

TypeError: unhashable type: 'list'

In [56]:
s2.add((7,8,6,5,4))
#In this case it allowed tuple to add in the set elements.

In [57]:
s2

{(7, 8, 6, 5, 4), 1, 2, 3, 4, 5, 5678, 6, 7, 8, 'sudh'}

In [58]:
s = {(3,4,5,6), (3,4,5,6),3,4,5,3,4,5}

In [59]:
s

{(3, 4, 5, 6), 3, 4, 5}

In [60]:
#To remove element from set we have remove function
s.remove(4)

In [61]:
s

{(3, 4, 5, 6), 3, 5}

In [62]:
s.discard(5)
#discard function has removed 5

In [63]:
s

{(3, 4, 5, 6), 3}

##### Difference b/w remove and discard
##### Both are going to eliminate that element from the collection set.
##### In remove it will give us an error as the elemnt is not present in the set.
##### However,if we discard the element which is not present in the set.It will do nothing.

In [64]:

s.remove(45)

KeyError: 45

In [65]:
s.discard(45)

In [66]:
s

{(3, 4, 5, 6), 3}

In [67]:
# Set is a case sensitive element
s4={"sudh","Sudh"}

In [68]:
s4

{'Sudh', 'sudh'}

####  Dictionary : Dictionary is a data collection which holds the respective value w.r.t  a particular key just like an actual dictionary.It will hold the data as key value pair.Notation is  { }.In dictionary we can store values as list,tuples and sets.
#### Difference b/w set and dictionary is
#### In Set we do not have key value pair.However in dictionary we have a key value pair.

In [69]:
d = { }

In [70]:
type(d)

dict

In [71]:
# Here  in dictionary 4 is a key with the value of sudh
d = {4 : "sudh"}

In [72]:
d1 ={"key1" :5445,"key2": "sudh", "key3": [3,4,5,6]}

In [73]:
# Now if i want to access the 5445 value from dictionary colllection.
#So just like list we are able to access the elements with the help of keys
d1["key1"]

5445

In [74]:
d1["key3"]

[3, 4, 5, 6]

In [75]:
#If you use key multiple times it will take  the updated value of key like in this case is 45 not the list.
#So key used should be unique
d1 = {"key1" : [3,4,5,6], "key2" : "sudh","key1": 45}

In [76]:
d1["key1"]

45

In [77]:
d = {"name" : "vandana","mob_no" :123456789,"mail_id":"vandana@gmail.com","key1" :[4,5,6,7],"key2":(3,4,5,6),"key3":{3,4,5,4,3,3,3,3,3,3},"key4":{1:2,3:4}}

In [78]:
d

{'name': 'vandana',
 'mob_no': 123456789,
 'mail_id': 'vandana@gmail.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5},
 'key4': {1: 2, 3: 4}}

In [79]:
d["key3"]

{3, 4, 5}

In [80]:
type(d["key3"])

set

In [81]:
#If we want to acces value 4 in key4.How can we do it
d["key4"]

{1: 2, 3: 4}

In [82]:
d["key4"][3]

4

In [83]:
#Keys() is there to get the list of keys
d.keys()

dict_keys(['name', 'mob_no', 'mail_id', 'key1', 'key2', 'key3', 'key4'])

In [84]:
#values() will help to access all the values list in dictionary
d.values()

dict_values(['vandana', 123456789, 'vandana@gmail.com', [4, 5, 6, 7], (3, 4, 5, 6), {3, 4, 5}, {1: 2, 3: 4}])

In [85]:
#items() will help to get the key value pair list of tuples
d.items()

dict_items([('name', 'vandana'), ('mob_no', 123456789), ('mail_id', 'vandana@gmail.com'), ('key1', [4, 5, 6, 7]), ('key2', (3, 4, 5, 6)), ('key3', {3, 4, 5}), ('key4', {1: 2, 3: 4})])

In [86]:
d = {"key1" :"sudh","key2":[1,2,3,4]}

In [87]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4]}

In [88]:
#If we want to add new key value pair in dictionary
d["key3"]="kumar"

In [89]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [90]:
d["key1"] = "vandana"

In [91]:
d

{'key1': 'vandana', 'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [92]:
#If we want to delete any key from the dictionary
del d["key1"]

In [93]:
d

{'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [94]:
#If we want to delete the entire dictionary
del d
#It will delete my dictionary

In [95]:
d

NameError: name 'd' is not defined

In [96]:
d1 = {"key1" : "sudh","key2":[4,5,6,7,8]}

In [97]:
d1

{'key1': 'sudh', 'key2': [4, 5, 6, 7, 8]}

In [98]:
#If we create a list as a key will it work.
#No
d1[[1,2,3]]="ineuron"

TypeError: unhashable type: 'list'

In [99]:
#If we create tuple as a key.
#Yes it will allow tuple not list to be a key.Key as list will going to work
d1[(1,2,3,4)]= "ineuron"

In [100]:
d1

{'key1': 'sudh', 'key2': [4, 5, 6, 7, 8], (1, 2, 3, 4): 'ineuron'}

In [101]:
#get()will help to get the value of a key
d1.get("key1")

'sudh'

In [102]:
d1 ={"key1" : "ineuron" ,"key":"FSDS"}

In [103]:
d2={"key2" :456,"key3":[1,2,3,4,5]}

In [104]:
#update() will update d2 dictionary in d1 dictionary
d1.update(d2)

In [105]:
d1

{'key1': 'ineuron', 'key': 'FSDS', 'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [106]:
#It will not perform like list 
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [111]:
keys= ("name","mob_no","mail_id")
values = ("vandana",7162543,"vanhvjhvj@gmil.com")

In [112]:
d=d1.fromkeys(keys,values)

In [113]:
d

{'name': ('vandana', 7162543, 'vanhvjhvj@gmil.com'),
 'mob_no': ('vandana', 7162543, 'vanhvjhvj@gmil.com'),
 'mail_id': ('vandana', 7162543, 'vanhvjhvj@gmil.com')}