In [1]:
s = 'sudh'

In [2]:
type(s)

In [3]:
s[0]

's'

In [4]:
s[2]

'd'

In [5]:
s[-1]

'h'

In [6]:
s[-4]

's'

In [7]:
a= "my name is sudh"

In [8]:
a[-1]

'h'

In [9]:
a[0]

'm'

In [10]:
a[100]

IndexError: string index out of range

In [11]:
a[0:10]

'my name is'

In [12]:
b= "ineuron"

In [13]:
b

'ineuron'

In [14]:
b[0:3]

'ine'

In [15]:
b[0:300]

'ineuron'

In [16]:
b[300]
#It will give aan eroor because this particular index is not present

IndexError: string index out of range

In [17]:
b[-1]

'n'

In [18]:
 b[-100]

IndexError: string index out of range

In [19]:
b[-1:-4]
#In this case the jump is in the positive direction which can create a conflict as -1 is the start point -4 is the end point and by default the step size is +1 which is positive

''

In [20]:
b[0:4]

'ineu'

In [21]:
a="kumar"

In [22]:
a[0:3]

'kum'

In [23]:
a[0:300]
#In this case it will give me complete data

'kumar'

In [24]:
 a[0:300:1]

'kumar'

In [25]:
a[0:300:2]

'kmr'

In [26]:
a[0:300:3]

'ka'

In [27]:
 a[0:100:-1]
    # why we are getting an empty string because the step size is in the negative direction as there will be a conflict over here so  we will get any data

''

In [28]:
a[-1:-4]

''

In [29]:
a[-1:-4:-1]

'ram'

In [30]:
a[0:-10:-1]

'k'

In [31]:
a[::]
#It will give me whole string as we are not defining start point,end pont and step size.
#By default it will take start as 0 ,end point as total size of string and step size as 1.

'kumar'

In [32]:
a[:8]
#by default start point is 0, end pont= whole string, step size=+1

'kumar'

In [33]:
a[-2:]

'ar'

In [34]:
a[-2:-1]
#Doubt in this

'a'

In [35]:
a[::-1]

'ramuk'

In [36]:
 a[-1::-1]

'ramuk'

In [37]:
a="i am working witoh ineurn"

In [38]:
a[::-1]

'nrueni hotiw gnikrow ma i'

In [39]:
a[-5:5]
#Doubt here
#We  cannot enter into the positive indexes when we start traversing from the negative

''

In [40]:
a[-5:5:-1]

'ni hotiw gnikro'

In [41]:
a[-2:-10:-1]

'rueni ho'

In [42]:
a[0:300:3]

'imoi t en'

In [43]:
"sudh"*3
#It will repeat this string 3 times.Multiplication operator will do repetition with strings.

'sudhsudhsudh'

In [44]:
"sudh"+"kumar"
#It will concatenate both strings

'sudhkumar'

In [45]:
a

'i am working witoh ineurn'

In [46]:
len(a)
#it will give the length of string including the space

25

In [47]:
"sudh"*"sudh"
#It will not work and give error in this case.

TypeError: can't multiply sequence by non-int of type 'str'

In [48]:
"sudh"+ str("4")

'sudh4'

In [49]:
a

'i am working witoh ineurn'

In [50]:
a.find("a")
#Here we can use find inbuilt function also to find the index of alphabet "a" in the string.
#Press a.tab to find these functions which will make ur work more easier.

2

In [51]:
a.find("i")

0

In [52]:
a.find("ia")
#Combintion it will return -1 when there is no such combination in your data.

-1

In [53]:
a.find("in")

9

In [54]:
a.count("i")
#Gives the count how many times letter has appeared
#Return the number of occurences

4

In [55]:
a.count("x")

0

In [56]:
a

'i am working witoh ineurn'

In [57]:
a.split()
#It will return a new kind of data type called as list
#It will split the dataset in the form of list

['i', 'am', 'working', 'witoh', 'ineurn']

In [58]:
type(a.split())

list

In [59]:
#lets suppose we save this list in a variable l where the output of l we get as a list
l = a.split()
l

['i', 'am', 'working', 'witoh', 'ineurn']

In [60]:
#Now out of this list i have to access "i"
l[0]

'i'

In [61]:
l[1]

'am'

In [62]:
l[0:3]

['i', 'am', 'working']

In [63]:
a.split(sep="w")
#It will split the dataset wherever it will find w

['i am ', 'orking ', 'itoh ineurn']

In [64]:
a.upper()
#It will automatically change data into a uppercase

'I AM WORKING WITOH INEURN'

In [65]:
s="sUdh"

In [66]:
s.swapcase()
#It will automatically swap uppercase into lowecase and lowercase into uppercase

'SuDH'

In [67]:
s.title()
#It will keep the first letter as Capital in the form of titlecase.

'Sudh'

In [68]:
b="sudh"
c= "ineuron"

In [69]:
b.join(c)

'isudhnsudhesudhusudhrsudhosudhn'

In [70]:
" ".join("sudh")

's u d h'

In [71]:
s="  sudh  "

In [72]:
s.rstrip()
#It will strip the space from right hand side

'  sudh'

In [73]:
s.lstrip()
#It will strip the string from left hand side

'sudh  '

In [74]:
s.strip()
#It will strip string from both sides.It removes white space from both sides.

'sudh'

In [75]:
s="sudh"

In [76]:
s.replace("u","xyz")

'sxyzdh'

In [77]:
"sudh\tkumar".expandtabs()
# suppose we have two string sudh kumar with \t means tab.expandtabs() will help string to create space between two strings and seperate .
#One  tab means three white spaces

'sudh    kumar'

In [78]:
s = "sudh"

In [79]:
s.center(40, "*")
#It will place your string in the center and fill space with the symbols given on the two sides.

'******************sudh******************'

In [80]:
s.isupper()
#whenever you are going to use any is function it will return TRUE or False so make sure your code satisfies that function.
#In this case it will check whether your string is in uppercase or not.hence will give output accordingly

False

In [81]:
s="Sudh"

In [82]:
s.isupper()

False

In [83]:
s= "SUDH"

In [84]:
s.isupper()

True

In [85]:
s.islower()

False

In [86]:
s="    sudh"

In [87]:
s.isspace()
#This function will check whether the whole string is space or not

False

In [88]:
s =" "

In [89]:
s.isspace()

True

In [90]:
s = "sudh"

In [91]:
s.isdigit()
#This function will check whether the whole string is digit or not

False

In [92]:
s = "sudh1234"

In [93]:
s.isdigit()

False

In [94]:
s="1234"

In [95]:
s.isdigit()

True

In [96]:
s ="sudh"

In [97]:
s.endswith("h")
#This function will check whether the whole string is ending with "h" or not.

True

In [98]:
s.startswith("t")
#This function will check whether the whole string is ending with "t" or not.

False

In [99]:
s.istitle()
#Title should start with first letter as capital so it returned false

False

### Lists : List is a collection of multiple objects.list is a collection of multiple homogeneous or hetrogeneous dataset.Notation is  [ ] .List is a mutable entity as we change the data at any of these indexes.like we were able to to change l1[0] = "sudh" to l1[0] = "Vandana".We can mutate list at any number of indexes in a form of lists.On the other hand we cannot mutate a string .String is immutable entity

In [100]:
l=["sudh","kumar",3543 ,4+6j, True,345.56]

In [101]:
type(l)

list

In [102]:
l[0]

'sudh'

In [103]:
l[-1]

345.56

In [104]:
l[-5]

'kumar'

In [105]:
l[0:4]

['sudh', 'kumar', 3543, (4+6j)]

In [106]:
l[::-1]

[345.56, True, (4+6j), 3543, 'kumar', 'sudh']

In [107]:
 l[-1:6]

[345.56]

In [108]:
#If i want to access sudh we will use
l[0]

'sudh'

In [109]:
#if i want to access only "u" from "sudh"
type(l[0])
l[0][1]

'u'

In [110]:
l[3]

(4+6j)

In [111]:
l[3].real

4.0

In [112]:
l1=["sudh","kumar",4356]
l2=["xyz","pqr",546.567]

In [113]:
l1+l2

['sudh', 'kumar', 4356, 'xyz', 'pqr', 546.567]

In [114]:
l1+["sudh"]

['sudh', 'kumar', 4356, 'sudh']

In [115]:
l1*2

['sudh', 'kumar', 4356, 'sudh', 'kumar', 4356]

In [116]:
  l1

['sudh', 'kumar', 4356]

In [117]:
l1[0]

'sudh'

In [118]:
l1[0]="Vandana"

In [119]:
l1

['Vandana', 'kumar', 4356]

In [120]:
l1[1]

'kumar'

In [121]:
type(l1[1])

str

In [122]:
l1[1].replace("k","s")

'sumar'

In [123]:
l1
#Doubt it is not reflecting in the list.As  list is a mutable entitiy and string is immutable entity

['Vandana', 'kumar', 4356]

In [124]:
len(l1)

3

In [125]:
"kumar" in l1
#To check if our entity is present in the list or not.

True

In [126]:
l2

['xyz', 'pqr', 546.567]

In [127]:
l2.append("sudh")
#It will append the list with new element at the end of the list.

In [128]:
l2

['xyz', 'pqr', 546.567, 'sudh']

In [129]:
#If i want to remove an element from this list
l2.pop()
#By default it will remove the last element in the list

'sudh'

In [130]:
l2

['xyz', 'pqr', 546.567]

In [131]:
l2.pop(2)
#It will remove index 2 element i.e 546.567 from the list

546.567

In [132]:
l2

['xyz', 'pqr']

In [133]:
#Lets suppose if i have to insert an element at a particular index
#Lets see we have 
l2

['xyz', 'pqr']

In [134]:
l2.append(345435)
#append will append the element at the end of list by default

In [135]:
l2

['xyz', 'pqr', 345435]

In [136]:
#Lets suppose to insert an element at particular index
l2.insert(1,"abcd")

In [137]:
l2

['xyz', 'abcd', 'pqr', 345435]

In [138]:
#We can insert some other list in the existing list
l2.insert(3,[34,45,56,576,67])

In [139]:
l2

['xyz', 'abcd', 'pqr', [34, 45, 56, 576, 67], 345435]

In [140]:
l2

['xyz', 'abcd', 'pqr', [34, 45, 56, 576, 67], 345435]

In [141]:
#Lets reverse the list
l2[::-1]

[345435, [34, 45, 56, 576, 67], 'pqr', 'abcd', 'xyz']

In [142]:
#Reverse option is available for list
l2.reverse()

In [143]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'abcd', 'xyz']

In [144]:
#Lets see our l1 and l2
l1

['Vandana', 'kumar', 4356]

In [145]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'abcd', 'xyz']

In [146]:
#Lets say if we want to access 56 which is again in a list
l2[1]

[34, 45, 56, 576, 67]

In [147]:
l2[1][2]

56

In [148]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'abcd', 'xyz']

In [149]:
l2.count("xyz")
#Count no of occurrences of element in the list

1

In [150]:
l2.append("dssafasf")

In [151]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'abcd', 'xyz', 'dssafasf']

In [152]:
l2.append([3,4,54,6])

In [153]:
l2

[345435,
 [34, 45, 56, 576, 67],
 'pqr',
 'abcd',
 'xyz',
 'dssafasf',
 [3, 4, 54, 6]]

In [154]:
l1

['Vandana', 'kumar', 4356]

In [155]:
l1.extend([2,54,656,"sdfs"])

In [156]:
l1

['Vandana', 'kumar', 4356, 2, 54, 656, 'sdfs']

#### OBSERVATIONS:
##### The difference between append and extend is both inserting the element at the end of list 
##### In append it is inserting the nested list in the form of list into the main list .
##### But in extend it has unravelled (opened up the within list) and is performing a concatenation operation concatenating the last elemenent i.e a list into the main list.
##### In extend it has unravelled the within list and then inserted in the main list.

In [157]:
list("sudh")

['s', 'u', 'd', 'h']