In [1]:
A=[1,2,3,4,5.0,4+3j,"Sunny",True]

In [2]:
#How to access elements of list using for loop
for element in A:
    print(element)

1
2
3
4
5.0
(4+3j)
Sunny
True

In [3]:
len(A)

8

In [4]:
#How to access elements of list using for loop
for i in range(len(A)):
    print(A[i])

1
2
3
4
5.0
(4+3j)
Sunny
True

In [5]:
#To check the datatype of each element
for i in range(len(A)):
    print(f"i={i} Value = {A[i]} DataType= {type(A[i])}")

i=0 Value = 1 DataType= <class 'int'>
i=1 Value = 2 DataType= <class 'int'>
i=2 Value = 3 DataType= <class 'int'>
i=3 Value = 4 DataType= <class 'int'>
i=4 Value = 5.0 DataType= <class 'float'>
i=5 Value = (4+3j) DataType= <class 'complex'>
i=6 Value = Sunny DataType= <class 'str'>
i=7 Value = True DataType= <class 'bool'>

In [6]:

A

[1, 2, 3, 4, 5.0, (4+3j), 'Sunny', True]

In [7]:
#Indexing and slicing
A[3:]

[4, 5.0, (4+3j), 'Sunny', True]

In [8]:
A[0::2] #start,end, steps

[1, 3, 5.0, 'Sunny']

In [9]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [10]:
#same thing you can do using for loop
for i in range(0,8,2):
    print(f"i={i}, Element = {A[i]}")

i=0, Element = 1
i=2, Element = 3
i=4, Element = 5.0
i=6, Element = Sunny

In [13]:
A

[1, 2, 3, 4, 5.0, (4+3j), 'Sunny', True]

In [14]:
#Reverse Order
A[::-1]

[True, 'Sunny', (4+3j), 5.0, 4, 3, 2, 1]

In [28]:
list(range(-1,-len(A),-1))

[-1, -2, -3, -4, -5, -6, -7]

In [31]:
#Using for loop
for i in range(-1,-len(A)-1,-1):
    print(f"i={i}, Element = {A[i]}")

i=-1, Element = True
i=-2, Element = Sunny
i=-3, Element = (4+3j)
i=-4, Element = 5.0
i=-5, Element = 4
i=-6, Element = 3
i=-7, Element = 2
i=-8, Element = 1

In [36]:
#If you want to access elements manually using for loop
for i in [1,3,5,7]:
    print(f"i={i}, Element = {A[i]}")

i=1, Element = 2
i=3, Element = 4
i=5, Element = (4+3j)
i=7, Element = True

In [37]:
A

[1, 2, 3, 4, 5.0, (4+3j), 'Sunny', True]

In [38]:
A[4]=999.0

In [39]:
A

[1, 2, 3, 4, 999.0, (4+3j), 'Sunny', True]

In [40]:
A[-2]="ineuron"

In [41]:
A

[1, 2, 3, 4, 999.0, (4+3j), 'ineuron', True]

In [42]:
B=[78,90.22]

In [43]:
A+B

[1, 2, 3, 4, 999.0, (4+3j), 'ineuron', True, 78, 90.22]

In [44]:
A-B

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [46]:
A*2

[1,
 2,
 3,
 4,
 999.0,
 (4+3j),
 'ineuron',
 True,
 1,
 2,
 3,
 4,
 999.0,
 (4+3j),
 'ineuron',
 True]

In [47]:
#Basic List Methods
len(A)

8

In [48]:
#Creating list with user input
my_list=[] #Not recommended approach 
len(my_list)

0

In [49]:
#Creating list with user input
my_list=list() #recommended approach 
len(my_list)

0

In [3]:
#Creating list with user input using for loop
list_of_item_to_purchase=list()
for i in range(5):
    user_input=input("Enter the item that you want to purchase :")
    list_of_item_to_purchase=list_of_item_to_purchase+[user_input]
print(list_of_item_to_purchase)

Enter the item that you want to purchase :book
Enter the item that you want to purchase :phone
Enter the item that you want to purchase :lipstick
Enter the item that you want to purchase :cover
Enter the item that you want to purchase :laptop
['book', 'phone', 'lipstick', 'cover', 'laptop']

In [5]:
#Creating list with user input using while loop
list_of_item_to_purchase=list()
N=int(input("No of item you want to purchase"))
count=0
while count<N:
    user_input=input("Enter the item that you want to purchase :")
    list_of_item_to_purchase=list_of_item_to_purchase+[user_input]
    count=count+1
    
print(list_of_item_to_purchase)

No of item you want to purchase2
Enter the item that you want to purchase :bulb
Enter the item that you want to purchase :knife
['bulb', 'knife']

In [6]:
#To check whether your item is in the list or not
"bulb" in list_of_item_to_purchase

True

In [7]:
#To check whether your item is in the list or not
"pen" in list_of_item_to_purchase

False

In [9]:
if "pen" in list_of_item_to_purchase:
    print("YES")
else:
    print("No, adding into the list")
    list_of_item_to_purchase=list_of_item_to_purchase+["Pen"]

No, adding into the list

In [10]:
list_of_item_to_purchase

['bulb', 'knife', 'Pen']

In [11]:
#Lets use not condition here to check whether it is in list or not
if "Milk" not in list_of_item_to_purchase:
    print("No, adding into the list")
    list_of_item_to_purchase=list_of_item_to_purchase+["Milk"]

No, adding into the list

In [12]:
list_of_item_to_purchase

['bulb', 'knife', 'Pen', 'Milk']

In [13]:
#You can also do the same with this
new_item=input("Anything else you want to add :")
if new_item not in list_of_item_to_purchase:
    print("No, adding into the list")
    list_of_item_to_purchase=list_of_item_to_purchase+[new_item]

Anything else you want to add :grapes
No, adding into the list

In [14]:
list_of_item_to_purchase

['bulb', 'knife', 'Pen', 'Milk', 'grapes']

In [15]:
#Max method will return the maximum value from the list

example=[1,66,999.0,10]
max(example)

999.0

In [17]:
#Max method will return the maximum value from the list
string_example=["a","b","d"]
max(string_example)

'd'

In [18]:
#Max method will return the maximum value from the list
string_example=["a","b","d","D"]
max(string_example) #As per ASCII Value it will return the max value

'd'

In [19]:
#It will work only if theelements are of same datatype
string_example=["a","b","d","D",1,6]
max(string_example)

TypeError: '>' not supported between instances of 'int' and 'str'

In [21]:
#Max method will return the maximum value from the list
string_example=["bhaveen","abishek","dew","dj","Soni"]
max(string_example) #As per ASCII Value it will return the max value

'dj'

In [49]:
#Print the name with highest no of characters
max_len=0
string_example=["bhaveen","abhishek","dew","dj","Soni"]
for i in string_example:
    print(f"""String : {i}  Letters: {len(i)}""")
    if len(i)>max_len:
        max_len=len(i)
        result=i

print(f"Max_len: {max_len}, Name :{result} ")

String : bhaveen  Letters: 7
String : abhishek  Letters: 8
String : dew  Letters: 3
String : dj  Letters: 2
String : Soni  Letters: 4
Max_len: 8, Name :abhishek

In [50]:
A =[1,5,77]

In [51]:
A=A+["new_element"]

In [52]:
A

[1, 5, 77, 'new_element']

In [53]:
#Append Method
A.append("Soni") #It will add new element in the end of list only
#It appends one item at a time

In [54]:
A

[1, 5, 77, 'new_element', 'Soni']

In [1]:
#Creating list with user input using for loop and append function
list_of_item_to_purchase=list()
N= int(input("No of item you want to purchase :"))
for i in range(N):
    user_input=input("Enter the item that you want to purchase :")
    list_of_item_to_purchase.append(user_input) #Recommended method of using append method to add elements
print(list_of_item_to_purchase)

No of item you want to purchase2
Enter the item that you want to purchase :milk
Enter the item that you want to purchase :pen
['milk', 'pen']

In [2]:
A=[6,4,5,7,"Sunny"]

In [3]:
#Pop method- by default pops off last element.you can specify the index to pop some specific element
A.pop(0)

6

In [4]:
A

[4, 5, 7, 'Sunny']

In [5]:
A.pop() #by default pops last element

'Sunny'

In [6]:
A.pop(2)

7

In [7]:
A

[4, 5]

In [8]:
l=[1,34,56,76,99]

In [10]:
#remove odd nos using for loop
for i in range(len(l)):
    print(i,l[i])
    num=l[i]
    if num%2!=0: #Odd condition
        print(f"Odd number : {num}")
    else:
        print(f"Even number :{num}")

0 1
Odd number : 1
1 34
Even number :34
2 56
Even number :56
3 76
Even number :76
4 99
Odd number : 99

In [11]:

A=[1,45,67,98,-34]

In [12]:
#Sorting Method :
sorted(A) #it will sort in ascending order#Temporary

[-34, 1, 45, 67, 98]

In [13]:
A.sort() #Permanent method

In [14]:
A

[-34, 1, 45, 67, 98]

In [15]:
#If you want sorting in descending order
A.sort(reverse=True)

In [16]:
A

[98, 67, 45, 1, -34]

In [17]:
A.reverse()

In [18]:
A

[-34, 1, 45, 67, 98]

In [1]:
#Nesting of the list
A=[[1,2,3],[11,22,33],[45,56,77]]

In [3]:
#how can we print the number 22
print(A[1][1])

22

In [4]:
#Nesting of the list
#IF we want to access 502
A=[[1,2,3],[11,22,33,[500,502]],[45,56,77]]

In [5]:
A[1][3][1]

502

In [6]:
#How to access hii
A=[[1,2,3],[11,22,33,[500,502]],[45,[239,"Hii"],56,77]]

In [7]:
A[2][1][1]

'Hii'

In [8]:
A[-1][-3][-1]

'Hii'

In [1]:
#Lets say we have purchased some items from amazon,we want to know total sum of item you added in your cart
#without for  loop
amazon_cart=[["watch",5000],["phone",10000],["laptop",50000]]
total_cost=0
total_cost=amazon_cart[0][1]+amazon_cart[1][1]+amazon_cart[2][1]
print(f"Total_Cost you have to pay :{total_cost} ")

Total_Cost you have to pay :65000

In [14]:
#When we have a huge list how  can we access elements
#Lets say we have purchased some items from amazon,we want to know total sum of item you added in your cart using for loop
amazon_cart=[["watch",5000],["phone",10000],["laptop",50000]]
total_cost=0
for i in range(len(amazon_cart)):
    print(i,amazon_cart[i])
    total_cost=total_cost+amazon_cart[i][1]
    print(f"Current total after adding {amazon_cart[i][1]}:{total_cost}")
    
print("Total_cost you have to Pay",{total_cost})

0 ['watch', 5000]
Current total after adding 5000:5000
1 ['phone', 10000]
Current total after adding 10000:15000
2 ['laptop', 50000]
Current total after adding 50000:65000
Total_cost you have to Pay {65000}

In [25]:
#If i donot use the range method in above problem
amazon_cart=[["watch",5000],["phone",10000],["laptop",50000]]
total_cost=0
print(f"Empty Cart: {total_cost}")
for i in amazon_cart:
    print(f"i={i}, price : {i[1]}")
    total_cost=total_cost+i[1]
    print(f"Cart after adding item {i[0]}: {total_cost}")
    
print(f"Total_amount to pay :{total_cost}" )

Empty Cart: 0
i=['watch', 5000], price : 5000
Cart after adding item watch: 5000
i=['phone', 10000], price : 10000
Cart after adding item phone: 15000
i=['laptop', 50000], price : 50000
Cart after adding item laptop: 65000
Total_amount to pay :65000

In [ ]:
#List Comprehension- how you can provide shortcut way to create any list

In [40]:
#I want to create list which contains list of squares of nos between 1 to 10
A=[1,2,3,4,5,6,7,8,9,10]
ans=list()
for i in range(len(A)):
    print(f"Index={i}, Number : {A[i]} Square of {A[i]}={A[i]**2}")
    ans.append(A[i]**2)  
print(f"Squares of Numbers ans :{ans}")

Index=0, Number : 1 Square of 1=1
Index=1, Number : 2 Square of 2=4
Index=2, Number : 3 Square of 3=9
Index=3, Number : 4 Square of 4=16
Index=4, Number : 5 Square of 5=25
Index=5, Number : 6 Square of 6=36
Index=6, Number : 7 Square of 7=49
Index=7, Number : 8 Square of 8=64
Index=8, Number : 9 Square of 9=81
Index=9, Number : 10 Square of 10=100
Squares of Numbers ans :[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
#WE can do the same thing in as ingle line
A=[1,2,3,4,5,6,7,8,9,10]
ans=list()
for i in A:
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [43]:
#Single line code
ans=[i**2 for i in A]

In [44]:
ans

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
#2.only take the squares of odd numbers in the list A
A=[1,2,3,4,5,6,7,8,9,10]
ans=list()
for i in A:
    if i%2!=0:
        print(f"Odd Number  {i}: {i**2}")
        ans.append(i**2)
print(ans)

Odd Number  1: 1
Odd Number  3: 9
Odd Number  5: 25
Odd Number  7: 49
Odd Number  9: 81
[1, 9, 25, 49, 81]

In [2]:
#How can we do the above problem in a single code using list comprrehension
A=[1,2,3,4,5,6,7,8,9,10]
ans=[i**2 for i in A if i%2!=0]
print(ans)

[1, 9, 25, 49, 81]

In [6]:
#Count Method
A=[1,2,2,4,5,6,6,6,6,7,7,7]

In [8]:
A.count(6)

4

In [12]:
#Count Method using for loop
A=[1,2,2,4,5,6,6,6,6,7,7,7]
for i in A:
    print(f"Element ={i}  Occurences :{A.count(i)}")

Element =1  Occurences :1
Element =2  Occurences :2
Element =2  Occurences :2
Element =4  Occurences :1
Element =5  Occurences :1
Element =6  Occurences :4
Element =6  Occurences :4
Element =6  Occurences :4
Element =6  Occurences :4
Element =7  Occurences :3
Element =7  Occurences :3
Element =7  Occurences :3

In [17]:
#How  many characters are there in Sunny
A="Sunny"
for i in A:
    print(f"Index= {i} Occurences :{A.count(i)}")

Index= S Occurences :1
Index= u Occurences :1
Index= n Occurences :2
Index= n Occurences :2
Index= y Occurences :1

In [19]:
#Extend method - It unravels the list
A=[1,2,3]
B=[11,12,13]

In [20]:
A.append(B)

In [21]:
A

[1, 2, 3, [11, 12, 13]]

In [22]:
A.extend(B)

In [23]:
A

[1, 2, 3, [11, 12, 13], 11, 12, 13]

In [24]:
#Index method
A=[1,3,4,56,"sunny",4+3j]

In [27]:
A.index("sunny")

4

In [38]:
#print the index of all the complex numbers in the list A
A=[1,3,4,56,5+6j,"sunny",4+3j]

In [46]:
#print the index of all the complex numbers  the list A
ans=list()
for i in A:
    print(f"Element :{i},Data type :{type(i)},Index :{A.index(i)}")
    if type(i)==complex:
        ans.append(i)
print(f"Complex numbers in lists are : {ans}")

Element :1,Data type :<class 'int'>,Index :0
Element :3,Data type :<class 'int'>,Index :1
Element :4,Data type :<class 'int'>,Index :2
Element :56,Data type :<class 'int'>,Index :3
Element :(5+6j),Data type :<class 'complex'>,Index :4
Element :sunny,Data type :<class 'str'>,Index :5
Element :(4+3j),Data type :<class 'complex'>,Index :6
Complex numbers in lists are : [(5+6j), (4+3j)]

In [48]:
#USe of isinstance() to check number is complex in the list
#print the index of all the complex numbers  the list A uusing is instance method
ans=list()
for i in A:
    print(f"Element :{i},Data type :{type(i)},Index :{A.index(i)}")
    #if type(i)==complex:
    if isinstance(i,complex):
        ans.append(i)
print(f"Complex numbers in lists are : {ans}")

Element :1,Data type :<class 'int'>,Index :0
Element :3,Data type :<class 'int'>,Index :1
Element :4,Data type :<class 'int'>,Index :2
Element :56,Data type :<class 'int'>,Index :3
Element :(5+6j),Data type :<class 'complex'>,Index :4
Element :sunny,Data type :<class 'str'>,Index :5
Element :(4+3j),Data type :<class 'complex'>,Index :6
Complex numbers in lists are : [(5+6j), (4+3j)]

In [54]:
#Single line code for this problem
ans=list()
answer=[i for i in A if type(i)==complex]
print(f"Complex numbers are :{answer}")

Complex numbers are :[(5+6j), (4+3j)]

In [51]:
#USe of isinstance() to check number is complex or int in the list A
answer=list()
for i in A:
    print(f"Element :{i},Data type :{type(i)},Index :{A.index(i)}")
    if isinstance(i,(complex,int)):
        answer.append(i)
print(f"Numbers are : {answer}")

Element :1,Data type :<class 'int'>,Index :0
Element :3,Data type :<class 'int'>,Index :1
Element :4,Data type :<class 'int'>,Index :2
Element :56,Data type :<class 'int'>,Index :3
Element :(5+6j),Data type :<class 'complex'>,Index :4
Element :sunny,Data type :<class 'str'>,Index :5
Element :(4+3j),Data type :<class 'complex'>,Index :6
Numbers are : [1, 3, 4, 56, (5+6j), (4+3j)]

In [56]:
#Append Method
A=[1,2,3,4,5]
A.append(99)
A

[1, 2, 3, 4, 5, 99]

In [57]:
#Insert Method -Appends element at specific index
A=[1,2,3,4,5]
A.insert(2,"Sunny")
A

[1, 2, 'Sunny', 3, 4, 5]

In [2]:
#remove method
A=[1,2,3,455,6,77]
A.remove(77)

In [3]:
A

[1, 2, 3, 455, 6]

In [4]:
A=[1,1,2,3,455,6,77]
A.remove(1) #will remove the first occurence of 1
A

[1, 2, 3, 455, 6, 77]

In [5]:
A=[1,1,2,3,455,6,77]
A.remove(999)
A

ValueError: list.remove(x): x not in list

In [6]:
#difference b/w pop and remove is that
#In pop we use indexes to remove the value
#in remove we use the element itself to  get it removed from list

#### Tuples - are immutable.Notation -().Wherever data integrity required we use tuple.Length of  tuple cannot be changed however we can change the length of lists.Slicing operations can be performed on tuple

In [7]:
A=(1,2,3)

In [8]:
type(A)

tuple

In [9]:
A[0]

1

In [11]:
A[2]

3

In [14]:
A[0]=22

TypeError: 'tuple' object does not support item assignment

In [15]:
A=(22,12,34,1)

In [16]:
A.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [17]:
A=sorted(A) #It has changed tuple into list

In [18]:
A

[1, 12, 22, 34]

In [19]:
A=(1, 12, 22, 34)
A*2

(1, 12, 22, 34, 1, 12, 22, 34)

In [20]:
A**2

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [22]:
max(A)

34

In [23]:
min(A)

1

In [24]:
A.index(12)

1

In [25]:
A.count(22)

1

In [26]:
sum(A)

69

In [27]:
A.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [50]:
#Lets take an example of amazon there are so many items on there website
#Lets say we have these items on amazon website listed with there prices
amazon_website=[("watch",5000),("phone",10000),("laptop",50000),("shirt",1000)]
#Now we need a user input what he wants  to buy
my_choice=input("What you wants to buy :")
my_choice
#If product is avaiable on website it will say yes it is available otherwise out of stock
for i in amazon_website:
    if my_choice==i[0]:
        print(f"{i[0]} is available in stock")
        print(i)

What you wants to buy :phone
phone is available in stock
('phone', 10000)

In [51]:
#Sets - unordered collection of u ique elements

In [52]:
A={23,12,34,73,1} #It has ordered the list as all the elements are of same datatype
A

{1, 12, 23, 34, 73}

In [55]:
A={22,3,2,3,56,"Sunny"}
A

{2, 22, 3, 56, 'Sunny'}

In [56]:
A={3,5,6,7}
B={12,43,56} #Set does not suppport concatenation of two sets
A+B

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [59]:
A={3,5,6,7}
A.add(34)
A

{3, 5, 6, 7, 34}

In [63]:
#Suppose you have list and you are asked to return the unique elemnts
l=[1,1,2,22,22,3,3,3,3,3,4,4,5,5,5,5,89]
#convert it into set
set(l) #It will remove all the duplicate elemets
#Now we want it to be in the form of list not in set then again we have to change it into list
l1=list(set(l))
l1

[1, 2, 3, 4, 5, 22, 89]

In [65]:
A={3,5,6,7}
A.remove(5)
A

{3, 6, 7}

In [66]:
#sets are mutable in nature

In [68]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [9]:
arr=[1,2,3,4,5,6]
for i in range(1,6):#i=1,2,3,4,5
    print(f"i={i}, Index value : {arr[i]}")
    arr[i-1]=arr[i]
    
for i in range(0,6):#i=0,1,2,3,4,5
    print(f"i= {i} Index value :{arr[i]}")
    print(arr[i], end = " ")

i=1, Index value : 2
i=2, Index value : 3
i=3, Index value : 4
i=4, Index value : 5
i=5, Index value : 6
i= 0 Index value :2
2 i= 1 Index value :3
3 i= 2 Index value :4
4 i= 3 Index value :5
5 i= 4 Index value :6
6 i= 5 Index value :6
6

In [73]:
list(range(0,6))

[0, 1, 2, 3, 4, 5]

In [8]:
for i in range(0,6):
    print(f"i= {i} Element :{arr[i]}")

i= 0 Element :2
2
i= 1 Element :3
3
i= 2 Element :4
4
i= 3 Element :5
5
i= 4 Element :6
6
i= 5 Element :2
2

In [7]:
A=["Sunny","Soni"]
print(A[0],end="")

Sunny#

In [18]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(0, 6): #i=0,1,2,3,4,5
    print(f"i= {i} Element :{arr[i]}")
    print(arr[i], end = "# ")

i= 0 Element :1
1# i= 1 Element :2
2# i= 2 Element :3
3# i= 3 Element :4
4# i= 4 Element :5
5# i= 5 Element :6
6#

In [15]:
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

In [22]:
A=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(len(A)): #i=0,1,2
    print(f"i={i} {A[i]}")
    i[2]=500

i=0 (10, 20, 40)

TypeError: 'int' object does not support item assignment

In [23]:
A=(1,2,3)
A[-1]

3

In [28]:
l=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
ans=[t[:-1]+ (500,) for t in l]

In [26]:
ans

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]